
  <div class="be-loader">
        <div class="spinner">
        <div class="spinner-container container1">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
          <div class="spinner-container container2">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
          </div>
          <div class="spinner-container container3">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
          </div>
      </div>
      </div>
  <!-- THE HEADER -->
  <header>
    <div class="container-fluid custom-container">
      <div class="row no_row row-header">
        <div class="brand-be">
          <a href="{{ "/index.html" | prepend: site.baseurl }}"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}" alt="logo" class="be_logo"></a>
        </div>
        <div class="header-menu-block">
          <button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
        </div>
      </div>
    </div>
  </header>

