<div class="head-bg">
            <div class="head-bg-img"></div>
            <div class="head-bg-content">
                <h1>Your Best Social Network Template</h1>
                <p>Donec in rhoncus tortor. Sed tristique auctor ligula vel viverra</p>
                <a class="btn color-1 size-1 hover-1" href="blog-detail-2.html"><i class="fa fa-facebook"></i>sign up via facebook</a>
                <a class="be-register btn color-3 size-1 hover-6"><i class="fa fa-lock"></i>sign up now</a>
            </div>
        </div>